<div class="center-conteudo">
    <aside class="pull-left">
        <main>
            <h2> testsets dsd ds dsadas</h1>
            <h1><strong> testsetsddsa</strong></h1>
            <h2> testsets ds dsaee</h1>
        </main>
    </aside>
    <aside class="pull-right">
        <%# <span class="title-home">eprojects</span> %>
        <%= image_tag("logo.png", :alt => "home") %>
        <a href="/projects">
            <button class="btn-home btn btn-warning">
                <i class="fa fa-chevron-right"></i>
            </button>
        </a>
    </aside>
</div>