<section id="project-edit">
    <div class="project-edit">
        <h1>New Project</h1>

        <%= render 'form', project: @project %>

        <%= link_to 'Back', projects_path %>
    </div>
</section>