/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
body { margin: 0; width: 100vw; height: 100vh; }

input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"] {
    -webkit-appearance: listbox;
    color: #fff;
    font-weight: 600;
}

input[type="date"]{
    background-color: transparent;
    border-radius: 0.50rem;
    border-color: #0f0f0f;
    border-bottom-width: thick;
    width: 25%;
    text-align: center;
}

select {
    background-color: transparent;
    border-radius: 0.50rem;
    border-color: #0f0f0f;
    border-bottom-width: thick;
    width: 18vw;
    color: #fff;
    font-weight: 500;
}

.box-01 {
    padding: 0;
    display: flex;
    left: 16%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.box-01 div {
    padding: 0;
}


#home {
    position: relative;
}
.home-bg {
    width: 100vw;
    height: 100vh;
    filter: blur(1.85px) brightness(0.75) grayscale(0.69) opacity(0.75);
}

.center-conteudo {
    position: absolute;
    top: 15%;
    width: 65%;
    left: 20%;
    height: 70%;
}

.text-content {
    width: 69%;
    margin-top: 5%;
}

.title-home {
    color: black;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

.title-home::first-letter {
    color: yellow;
    text-transform: lowercase;
}

.logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -9%;
    align-items: center;
    top: -7%;
}

.logo img {
    width: 33vw;
    margin-bottom: 7%;
}

.btn-home {
    width: 4vw;
    height: 8vh;
    border-radius: 2rem !important;
}

.btn-link {
    color: #000;
}

.btn-link:hover {
    color: #fff;
}

#projects, #show-project, #task_new, #project-edit {
    position: absolute;
    top: 4%;
    width: 100vw;
}

.projects, .project {
    width: 66vw;
    padding-left: 3%;
    background-color: #c0c8c8;
    opacity: 0.7;
    left: 14%;
    top: 8vh;
    position: absolute;
}

.project-edit {
    width: 45%;
    text-align: center;
    left: 27%;
    position: absolute;
    top: 10vh;
}

.project-edit a {
    margin-right: -27%;
    margin-top: -13%;
}

.list-projects {
    margin-top: 3%;
}

.action {
    padding-left: 6%;
}

.actions {
    padding-right: 9%;
}

.tasks {
    margin-top: 3%;
}

.task-project {
    margin-top: 5%;
}

.form-title {
    display: flex;
    margin-bottom: 2%;
}

.form-title label {
    padding: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 4px solid #000;
    border-radius: .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.title-form {
    @extend .form-control;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: #fff;
    font-weight: 600;
}

.form-group label{
    font-weight: 600;
}

.form-date {
    display: flex;
    justify-content: space-evenly;
}